﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="AssignPolicy.aspx.cs" Inherits="Sales_AssignPolicy" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="LoginContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" Runat="Server">
    <a href="RegisterCustomer.aspx">prev</a>
    <br />
    <a href="RegisterEntities.aspx">next</a>
</asp:Content>

