﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="RegisterEntities.aspx.cs" Inherits="Sales_RegisterEntity" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="LoginContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" Runat="Server">
    <a href="AssignPolicy.aspx">prev</a>
    <a href="ReviewSubmitPolicy.aspx"">next</a>
</asp:Content>

