﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="ReviewSubmitPolicy.aspx.cs" Inherits="Sales_ReviewPolicy" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="LoginContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" Runat="Server">
    <a href="RegisterEntities.aspx">prev</a>
    <asp:Button ID="SubmitSale" runat="server" Text="Submit" />
</asp:Content>

